:root {
  --clr-primary-200: #fdf6f0;
  --clr-primary-500: #413231;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--clr-primary-500);
  background-color: var(--clr-primary-200);
}

nav,
footer {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-500);
}

.page-wrapper > * {
  padding-inline: .8rem;
  padding-block: 1.6rem;
}

/* navbar */
nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  position: sticky;
  top: 0;
}

nav > a {
  color: inherit;
  text-decoration: none;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .icon {
  display: none;
}

.email-address {
  display: flex;
  gap: .5rem;
}

.icon-links img {
  max-width: 50px;
}

/* media queries */
@media (min-width: 500px) {
  footer .icon {
    display: block;
  }
}