:root {
  --clr-primary-200: #fdf6f0;
  --clr-primary-500: #413231;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--clr-primary-500);
  background-color: var(--clr-primary-200);
}

nav,
footer {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-500);
}

.page-wrapper > * {
  padding-inline: .8rem;
  padding-block: 1.6rem;
}
